@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}

.navbarContainer{
    border: 4px solid black;
    padding: 12px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 20px;
}


.navbarLogo{
    border:2px solid black;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 800;
}

.navbarMenu{
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
}

.navbarItems{
    border: 1px solid black;
    list-style: none;
    margin-left: 10vw;
    position: relative;
    left: 20px;
}

.navbarLinks{
    color: white;
    text-decoration: none;
}

.navbarLinks:hover{
    color: rgb(219, 218, 218);
    transition: all 0.1s ease-in-out;
}

.navbarButton{
    list-style: none;
    margin-left: 10vw;
}

.button{
    color: white;
    text-decoration: none;
    background-color: rgb(43, 82, 238);
    padding: 5px;
    border-radius: 10px;
    font-size: 1.05rem;

}

.button:hover{
    background-color: rgb(57, 94, 243);
    padding: 6.2px;
    font-size: 1.09rem;
    transition: all 0.3s ease-in-out;
}